In [1]:
import pandas as pd

In [2]:
# Study data files
cities_data_path = "Resources/cities.csv"

In [3]:
# Read the mouse data and the study results
cities_df= pd.read_csv(cities_data_path)

cities_df= cities_df[['City_ID', 'City', 'Country', 'Cloudiness', 'Humidity', 'Wind Speed', 'Max Temp', 'Lat', 'Lng']]
cities_df.head(3)

cities=cities_df.set_index("City_ID")
cities.head(3)

,City,Country,Cloudiness,Humidity,Wind Speed,Max Temp,Lat,Lng
City_ID,,,,,,,,
0,jacareacanga,BR,0,62,6.93,89.60,-6.22,-57.76
1,kaitangata,NZ,100,94,5.64,42.61,-46.28,169.85
2,goulburn,AU,20,91,10.11,44.32,-34.75,149.72

In [4]:
cities.to_html('cities_data.html')